<div class="container">

  <div class="row">
    <div class="p-col-12 p-md-4">
      <div class="p-inputgroup">
        <button type="button" pButton pRipple icon="pi pi-minus" class="p-button-danger" (click)="a = a-1"></button>
        <span class="p-inputgroup-addon">a</span>
        <p-inputNumber inputId="integeronly" [(ngModel)]="a"></p-inputNumber>
        <button type="button" pButton pRipple icon="pi pi-plus" class="p-button-success" (click)="a = a+1"></button>
      </div>
    </div>
    <div class="p-col-12 p-md-4">
      <div class="p-inputgroup">
        <button type="button" pButton pRipple icon="pi pi-minus" class="p-button-danger" (click)="b = b-1"></button>
        <span class="p-inputgroup-addon">b</span>
        <p-inputNumber inputId="integeronly" [(ngModel)]="b"></p-inputNumber>
        <button type="button" pButton pRipple icon="pi pi-plus" class="p-button-success" (click)="b = b+1"></button>
      </div>
    </div>
  </div>

  <div class="row">
    <div echarts [options]="chartOption" class="demo-chart"></div>
  </div>

</div>
